# Tailscale auth
TS_AUTHKEY=
TS_API_KEY=
TS_TAILNET=

# Node/container naming
TS_HOSTNAME=tailscale-funnel
TS_CONTAINER_NAME=tailscale-funnel

# Default main service exposed through Funnel
TS_DEFAULT_SERVICE_NAME=funnel
TS_DEFAULT_SERVICE_PORT=18789
TS_DEFAULT_SERVICE_PATH=/
